body {
  margin: 0px;
  font-family: 'Courier Prime', 'Courier New', monospace;
}

div.app-container {
  height: max(100vh, 480px);
  width: max(100vw, 640px);
  display: grid;
  grid-template-areas: "left right";
  grid-template-rows: auto;
  grid-template-columns: 75% 25%;
  align-items: center;
  justify-items: center;
}

div.menu-container {
  grid-area: right;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-areas:
    "top"
    "bottom";
  grid-template-columns: auto;
  grid-template-rows: 50% 50%;
}

div.games-container {
  grid-area: top;
  background-color: #e6f7ff;
  overflow: auto;
}

div.challenges-container {
  grid-area: bottom;
  background-color: #ccffcc;
  overflow: auto;
}

div.game-container {
  grid-area: left;
  margin: min(max(2vh, 10px), max(2vw, 10px));
  display: grid;
  grid-template-areas:
    "top"
    "bottom";
  grid-template-columns: auto;
  grid-template-rows: 10% 90%;
  align-items: center;
  justify-items: center;
}

div.title-container {
  grid-area: top;
  height: calc(max(10vh, 48px) - min(max(2vh, 48px), max(2vw, 10px)));
  display: flex;
  align-items: center;
  justify-items: center;
}

h1.board-title {
  font-family: 'Courier Prime', 'Courier New', monospace;
  font-size: 2rem;
  text-align: center;
}

div.board-container {
  grid-area: bottom;
  height: calc(max(min(90vh, 75vw), 432px) - min(max(2vh, 48px), max(2vw, 10px)));
  width: calc(max(min(90vh, 75vw), 432px) - min(max(2vh, 48px), max(2vw, 10px)));
  display: flex;
}

div.chessboard {
  display: table;
  height: 100%;
  width: 100%;
  aspect-ratio: 1 / 1;
  z-index: 2;
}

div.chess-promotion {
  display: table;
  height: 100%;
  width: 100%;
  margin-left: -100%;
  background: rgba(22, 21, 18, 0.7);
}

div.chess-promotion square {
  width: 12.5%;
  height: 12.5%;
  z-index: 4;
  cursor: pointer;
  position: absolute;
  border-radius: 50%;
  background-color: #b0b0b0;
  box-shadow: inset 0 0 25px 3px #808080;
  transition-property: border-radius, box-shadow;
  transition-duration: 150ms;
}

div.chess-promotion square piece {
  width: 100%;
  height: 100%;
  pointer-events: auto;
  opacity: 1;
  transform: scale(0.8);
  transition-property: transform;
  transition-duration: 150ms;
}

div.chess-promotion square:hover {
  box-shadow: inset 0 0 48px 8px #d64f00;
  border-radius: 0%;
}

div.chess-promotion square:hover piece {
  transform: none;
}






h1 {
  text-align: center;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
  padding-bottom: 1em;
  word-wrap: break-word;
}

li.game-active {
  background-color: #d0d0fa;
}

div.challenge-prompt {
  position: absolute;
  bottom: 1em;
}

div.board-controls {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 1em;
}

div.board-draw-offer {
  grid-column: 1;
  margin: auto 1em;
}

div.board-buttons {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  margin: auto 1em;
}

div.board-promotion {
  grid-column: 3;
  display: flex;
  flex-direction: column;
  margin: auto 1em;
}
