div.chessboard {
  display: table;
  height: 100%;
  width: 100%;
  aspect-ratio: 1 / 1;
  z-index: 2;
}

div.chess-promotion {
  display: table;
  height: 100%;
  width: 100%;
  margin-left: -100%;
  background: rgba(22, 21, 18, 0.5);
}

div.chess-promotion square {
  width: 12.5%;
  height: 12.5%;
  z-index: 4;
  cursor: pointer;
  position: absolute;
  border-radius: 50%;
  background-color: #b0b0b0;
  box-shadow: inset 0 0 25px 3px #808080;
  transition-property: border-radius, box-shadow;
  transition-duration: 150ms;
}

div.chess-promotion square piece {
  width: 100%;
  height: 100%;
  pointer-events: auto;
  opacity: 1;
  transform: scale(0.8);
  transition-property: transform;
  transition-duration: 150ms;
}

div.chess-promotion square:hover {
  box-shadow: inset 0 0 48px 8px #d64f00;
  border-radius: 0%;
}

div.chess-promotion square:hover piece {
  transform: none;
}
