body {
  margin: 0px;
  font-family: 'Courier Prime', 'Courier New', monospace;
}

p {
  margin: 0px;
  padding: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
}



div.col {
  display: flex;
  flex-direction: column;
}

div.row {
  display: flex;
  flex-direction: row;
}

div.app-container {
  height: max(100vh, 720px);
  width: max(100vw, 1280px);
  display: grid;
  grid-template-areas: "left right";
  grid-template-rows: auto;
  grid-template-columns: 75% 25%;
  align-items: center;
  justify-items: center;
}

div.game-container {
  grid-area: left;
  height: calc(100% - calc(2 * max(min(2vh, 2vw), 14px)));
  width: calc(100% - calc(2 * max(min(2vh, 2vw), 14px)));
  margin: max(min(2vh, 2vw), 14px);
  display: grid;
  grid-template-areas:
    "top"
    "middle"
    "bottom";
  grid-template-columns: auto;
  grid-template-rows: 10% 80% 10%;
  align-items: center;
  justify-items: center;
}

div.title-container {
  grid-area: top;
  height: calc(max(10vh, 72px) - max(min(2vh, 2vw), 14px));
  width: calc(max(75vw, 960px) - calc(2 * max(min(2vh, 2vw), 14px)));
  display: grid;
  align-items: center;
  justify-items: center;
}

div.turn-container {
  grid-area: bottom;
  height: calc(max(10vh, 72px) - max(min(2vh, 2vw), 14px));
  width: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
}

p.turn-text {
  font-size: max(4.4vh, 42px);
}

div.board-container {
  grid-area: middle;
  height: min(max(80vh, 576px), calc(max(75vw, 960px) - calc(2 * max(min(2vh, 2vw), 14px))));
  width: min(max(80vh, 576px), calc(max(75vw, 960px) - calc(2 * max(min(2vh, 2vw), 14px))));
  display: flex;
}

div.menu-container {
  grid-area: right;
  height: 100%;
  width: 100%;
}

div.games-container {
  height: 100%;
  width: 100%;
  align-items: center;
}

div.game-options {
  width: 100%;
  align-items: center;
}

div.challenges-container {
  height: 100%;
  width: 100%;
  align-items: center;
}

div.settings-container {
  overflow: auto;
}

ul.game-list {
  width: 100%;
  margin-top: 1rem;
  border-top: 1px solid #666666;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: visible;
  overflow-y: auto;
}

li.game {
  width: 90%;
  margin-top: 0.5rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 5px grey;
  list-style: none;
  word-wrap: break-word;
}

li.odd {
  background-color: #E5E5E5;
}

li.even {
  background-color: #FFFFFF;
}

.popup-content {
  background: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 25px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.7);
}

div.draw-resolution {
  justify-content: space-evenly;
}

div.new-challenge-container {
  height: 300px;
  width: 300px;
  align-items: center;
  justify-content: space-between;
}

div.challenge-input-container {
  width: 100%;
  justify-content: space-between;
}

div.challenge-side-container {
  width: 100%;
  justify-content: space-evenly;
}
