
/* fundamental containers, positioning, etc. */

body {
  margin: 0px;
  font-family: 'Courier Prime', 'Courier New', monospace;
}

p {
  margin: 0px;
  padding: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
}

div.col {
  display: flex;
  flex-direction: column;
}

div.row {
  display: flex;
  flex-direction: row;
}

.challenge-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.challenge-box .row img {
  height: 60px;
  width: 60px;
}

.challenge-box .col {
  justify-content: space-evenly;
  margin: 0.5em;
}

.hidden {
  opacity: 0;
}

div.app-container {
  height: max(100vh, 720px);
  width: max(100vw, 1280px);
  display: grid;
  grid-template-areas: "game board panel";
  grid-template-rows: auto;
  grid-template-columns: 25% 50% 25%;
  align-items: center;
  justify-items: center;
}

/* Game Panel */

div.game-panel-container {
  grid-area: game;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  /* DD */
/*  border: red 1px solid; */
}

div.game-panel-container button {
  align-self: center;
  width: 100%;
}

div.game-panel {
  height: 55%;
  width: 75%;
  justify-content: center;
  /* DD */
/*   border: 1px green solid; */
}

div.game-panel .timer {
  font-size: 1.4em;
  /* DD */
/*   border: 1px solid blue; */
}

div.game-panel .player {
  font-size: 1.2em;
  line-height: 1.6em;
  /* DD */
/*   border: 1px solid yellow; */
}

div.game-panel #opp-timer {
  justify-content: left;
}

div.game-panel #opp-player {
  justify-content: left;
}

div.game-panel .moves {
  overflow-x: hidden;
  overflow-y: scroll;
  min-height: 275px;
  /* XX: move number should
  align with "s" in
  "~sampel-palnet" above */
  padding-left: 0.8em;
  border: 1px black solid;
}

div.game-panel .move-item span {
  cursor: pointer;
}

div.game-panel .moves p {
  font-size: 1em;
  line-height: 1.4em;
}

div.game-panel #our-player {
  justify-content: right;
}

div.game-panel #our-timer {
  justify-content: right;
}

div.game-panel .player {
  font-size: 1.2em;
  line-height: 1.6em;
}

/* Chessboard */

div.game-container {
  grid-area: board;
  height: calc(100% - calc(2 * max(min(2vh, 2vw), 14px)));
  width: calc(100% - calc(2 * max(min(2vh, 2vw), 14px)));
  margin: max(min(2vh, 2vw), 14px);
  display: grid;
  grid-template-areas:
    "top"
    "middle"
    "bottom";
  grid-template-columns: auto;
  grid-template-rows: 10% 80% 10%;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

div.turn-container {
  grid-area: bottom;
  height: calc(max(10vh, 72px) - max(min(2vh, 2vw), 14px));
  width: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
}

p.turn-text {
  font-size: max(4.4vh, 42px);
}

div.board-container {
  grid-area: middle;
  height: min(max(80vh, 576px), calc(max(75vw, 960px) - calc(2 * max(min(2vh, 2vw), 14px))));
  width: min(max(80vh, 576px), calc(max(75vw, 960px) - calc(2 * max(min(2vh, 2vw), 14px))));
  display: flex;
}

/* Control Panel */

div.menu-container {
  grid-area: panel;
  height: 100%;
  width: 100%;
}

div.menu-container h4 {
  position: relative;
  left: 5px;
  top: -10px;
  font-weight: normal;
}

ul.game-list {
  width: 100%;
  margin-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
}

li.game {
  width: 90%;
  margin-top: 0.5rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 5px grey;
  list-style: none;
  word-wrap: break-word;
  /* XX: if the whole 'card' is clickable, then the
         cursor should be a pointer but implementing
         this requires some renaming of 'challenge cards' etc */
  /*cursor: pointer;*/
}

div.col.game-card {
  width: calc(100% - 60px);
}

li.odd {
  background-color: #E5E5E5;
}

li.even {
  background-color: #FFFFFF;
}

li.selected {
  box-shadow: 0px 0px 5px 2px lightskyblue;
}

/* Games menu */

div.games-container {
  height: 100%;
  width: 100%;
  align-items: center;
}

div.game-options {
  width: 100%;
  align-items: center;
}

#active-archive-toggle {
  position: relative;
  top: 18px;
  margin-bottom: 10px;
}

#active-archive-toggle span {
  cursor: pointer;
}

/* Challenges menu */

div.challenges-container {
  height: 100%;
  width: 100%;
/*   align-items: center; */
}

div.new-challenge-container {
  height: 300px;
  width: 300px;
  align-items: center;
  justify-content: space-between;
}

div.challenge-input-container {
  width: 100%;
  justify-content: space-between;
}

div.challenge-side-container {
  width: 100%;
  justify-content: space-evenly;
}

div#challenges-header {
  align-items: center;
}

div#challenges-header p {
  position: relative;
  top: 18px;
  margin-bottom: 10px;
}

div#challenges-header span {
  cursor: pointer;
}

/* Settings menu */

div.settings-container {
  /* XX: overflow should be consistent for all menus */
  overflow: scroll;
  height: 100%;
  display: grid;
  grid-template-areas:
  "visuals"
  "gameplay"
  "data"
  "footer";
  grid-template-rows: 45% auto auto 10%;
}

div.settings-container #visuals-settings {
  grid-area: visuals;
  border-bottom: 1px black solid;
  overflow-y: auto;
}

div.settings-container #gameplay-settings {
  grid-area: gameplay;
  border-bottom: 1px black solid;
}

div.settings-container #data-settings {
  grid-area: data;
}

/* XX: do we need this? implementation feels bad */
div.settings-container #data-settings button {
  width: 80%;
  margin: auto;
}

div.settings-container #settings-footer {
  grid-area: footer;
  justify-content: center;
  align-items: center;
}

div.settings-container #settings-footer p {
  font-size: 0.8em;
}

div.draw-resolution {
  justify-content: space-evenly;
}
