
/* menu tabs */

.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  height: 40px;
  border-bottom: 1px solid #666666;
}

.react-tabs__tab {
  position: relative;
  height: calc(100% - 13px);
  bottom: -1px;
  padding: 6px 12px;
  display: inline-block;
  border: 1px solid #666666;
  border-radius: 5px 5px 0 0;
  border-bottom: none;
  font-size: 1.2rem;
  cursor: pointer;
  list-style: none;
  line-height: calc(100% + 6px);
}

.react-tabs__tab--selected {
  background-color: #F4F4F4;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  height: calc(max(100vh, 720px) - 40px);
  border-left: 1px solid #666666;
  display: block;
  background-color: #F4F4F4;
}
